#main {
    height: 100%;
    margin: 0;
}

html, body {
    height: 100%;
    margin: 0;
}

pre {
    margin: 0;
}

button {
    cursor: pointer;
}

#textBubbleImage {
    width: 23%;
    top: 70%;
    left: 26%;
    position: absolute;
    color: #302c24;
}

#titleImage {
    margin: 15px
}

#billboardImage1 {
    color: #302c24;
    height: 100%;
    position: absolute;
    background: #e6ebef;
    border: solid #302c24;
}

#controllerInfoImage {
    width: 100%;
}

#controllerImage {
    width: 100%;
    bottom: 0;
    position: absolute;
}

#title {
    margin: 15px;
    position: absolute;
    width: 103%;
}

#titleEmoji {
    display: block;
    position: absolute;
    top: 59%;
    left: 43%;
    width: 15%;
    z-index: 1;
/ / -moz-transform: scaleX(- 1);
/ / -o-transform: scaleX(- 1);
/ / -webkit-transform: scaleX(- 1);
/ / transform: scaleX(- 1);
/ / filter: FlipH;
/ / -ms-filter: "FlipH";
}

.column {
    width: 33.33%;
    height: 100%;
}

#titleColumn {
    background-color: #e8e8e6;
    position: relative;
    float: left;
}

#city {
    background-color: #dc5c3b;
    float: left;
}

#shop {
    background-color: #46d954;
    float: left;
    font-family: 'Roboto', sans-serif;
    color: white;
    overflow-y: scroll;
    font-size: 120%;
}

#information {
    background-color: #e4d51b;
    font-size: 120%;
    float: left;
    font-family: 'Roboto', sans-serif;
}

#information div {
    text-overflow: clip;
    overflow-wrap: break-word;
    position: relative;
    margin: 5%;
}

#subscribe {
    background-color: #629dfc;
    float: left;
    font-family: 'Roboto', sans-serif;
}

#about {
    background-color: #420877;
    float: left;
    color: #e6fdf1;
    font-family: 'Roboto', sans-serif;
    overflow-y: scroll;
    font-size: 120%;
}

h1 {
    font-size: 300%;
}

#footer {
    clear: both;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #302c24;
    color: #dc5c3b;
    text-align: center;
    height: 7%;
}

#mc_embed_signup {
    border-radius: 5px;
}

.innerPopup {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -55px;
    text-align: center;
}

.popupText {
    color: white;
}

.close {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 20px;
    font-family: 'Rajdhani', sans-serif;
}

.wrapper {
    height: 100px;
    width: 100%;
    position: absolute;
    top: 50%;
    text-align: center;
}

.subscribeWrapper, .aboutWrapper, .contactWrapper {
    display: none;
}

.clickable:hover {
    cursor: pointer;
}

button {
    font-family: 'Roboto', sans-serif;
}

.art {
    width: 1280px;
    height: 720px;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.2);
    position: relative;
    margin: auto;
}

.sky {
    width: 70%;
    height: 100%;
    position: absolute;
}

.sky1 {
    width: 45%;
    height: 100%;
    background: #f5fafc;
    position: absolute;
    right: 0;
}

.sky2 {
    width: 35%;
    height: 100%;
    background: #f3f7f9;
    position: absolute;
    right: 45%;
}

.sky3 {
    width: 20%;
    height: 100%;
    background: #f2f4f6;
    position: absolute;
    right: 80%;
}

.silhouette {
    width: 120%;
    height: 100%;
    position: relative;
    float: right;
}

.silhouette1 {
    background: #302c24;
    color: white;
    font-family: 'Rajdhani', sans-serif;
    font-size: 120%;
    text-align: right;
}

.silhouette2 {
    background: #494336;
    color: white;
}

.silhouette3 {
    background: #6e757a;
    color: white;
}

.silhouette4 {
    background: #aab2c1;
    color: white;
}

.silhouette5 {
    background: #e6ebef;
    color: white;
}

.silhouette6 {
    background: #f44242;
    color: white;
}

.b1 {
    width: 100%;
    height: 7%;
    right: 0;
    top: 30%;
    position: absolute;
}

.b1p1 {
    width: 51%;
    height: 100%;
    position: absolute;
    right: 0;
}

.b1p2 {
    width: 25.5%;
    height: 85%;
    top: 0;
    position: absolute;
    right: 50%;
}

.b1p3 {
    width: 10.3%;
    height: 40%;
    top: 30%;
    position: absolute;
    right: 74.8%;
}

.b1p4 {
    width: 20.2%;
    height: 32%;
    top: 0%;
    position: absolute;
    right: 74.9%;
}

.b1p5 {
    width: 5%;
    height: 35%;
    top: 20%;
    position: absolute;
    right: 85%;
}

.b2 {
    width: 100%;
    height: 6%;
    right: 0%;
    top: 50%;
    position: absolute;
}

.b2p1 {
    width: 42%;
    height: 100%;
    position: absolute;
    right: 0%;
}

.b2p2 {
    width: 20%;
    height: 60%;
    bottom: 0%;
    position: absolute;
    right: 40%;
}

.b2p3 {
    width: 10%;
    height: 40%;
    top: 20%;
    position: absolute;
    right: 40%;
}

.b3 {
    width: 100%;
    height: 8%;
    right: 0;
    top: 10%;
    position: absolute;
}

.b3p1 {
    width: 30.5%;
    height: 100%;
    position: absolute;
    right: 0%;
}

.b3p2 {
    width: 25%;
    height: 70%;
    position: absolute;
    right: 30%;
    top: 10%;
}

.b3p3 {
    width: 15%;
    height: 90%;
    position: absolute;
    right: 30%;
}

.b3p4 {
    width: 11.2%;
    height: 50%;
    top: 30%;
    position: absolute;
    right: 54%;
}

.b3p5 {
    width: 1.5%;
    height: 25%;
    top: 30%;
    position: absolute;
    right: 65%;
}

.b4 {
    width: 26%;
    height: 6%;
    right: 0%;
    top: 3%;
    position: absolute;
}

.b4p1 {
    width: 101%;
    height: 100%;
    top: 0;
    position: absolute;
    right: 0;
}

.b4p2 {
    width: 7%;
    height: 40%;
    top: 10%;
    position: absolute;
    right: 100%;
}

.b5 {
    width: 16%;
    height: 10%;
    right: 0%;
    top: 19%;
    position: absolute;
}

.b5p1 {
    width: 101%;
    height: 100%;
    top: 0%;
    position: absolute;
    right: 0%;
}

.b5p2 {
    width: 10%;
    height: 40%;
    top: 10%;
    position: absolute;
    right: 100%;
}

.b5p3 {
    width: 20%;
    height: 15%;
    top: 80%;
    position: absolute;
    right: 100%;
}

.b6 {
    width: 22%;
    height: 5%;
    right: 0%;
    top: 38%;
    position: absolute;
}

.b6p1 {
    width: 100%;
    height: 100%;
    top: 0%;
    position: absolute;
    right: 0%;
}

.b6p2 {
    width: 9%;
    height: 40%;
    top: 50%;
    position: absolute;
    right: 99%;
}

.b7 {
    width: 12%;
    height: 5.5%;
    right: 0%;
    top: 43.7%;
    position: absolute;
}

.b7p1 {
    width: 100%;
    height: 100%;
    top: 0%;
    position: absolute;
    right: 0%;
}

.b7p2 {
    width: 12%;
    height: 40%;
    top: 50%;
    position: absolute;
    right: 100%;
}

.b7p3 {
    width: 20%;
    height: 15%;
    top: 80%;
    position: absolute;
    right: 100%;
}

.l2b1 {
    width: 26%;
    height: 10%;
    top: 23%;
    position: absolute;
    right: 0%;
}

.b8p1 {
    width: 100%;
    height: 100%;
    top: 0%;
    position: absolute;
    right: 0%;
}

.b8p2 {
    width: 12%;
    height: 40%;
    top: 50%;
    position: absolute;
    right: 100%;
}

.b8p3 {
    width: 20%;
    height: 15%;
    top: 80%;
    position: absolute;
    right: 100%;
}

.l2b2 {
    width: 88%;
    height: 8%;
    top: 4%;
    position: absolute;
    right: 0%;
}

.l2b3 {
    width: 44%;
    height: 6%;
    top: 16%;
    position: absolute;
    right: 0%;
}

.l2b4 {
    width: 16%;
    height: 9%;
    top: 36%;
    position: absolute;
    right: 0%;
}

.l2b5 {
    width: 22%;
    height: 4.5%;
    top: 46%;
    position: absolute;
    right: 0%;
}

.l2b6 {
    width: 10%;
    height: 4%;
    top: 55%;
    position: absolute;
    right: 0%;
}

.l2b7 {
    width: 10%;
    height: 4%;
    top: 0%;
    position: absolute;
    right: 0%;
}

.l2b8 {
    width: 20%;
    height: 6%;
    top: 60%;
    position: absolute;
    right: 0%;
}

.l3b1 {
    width: 32%;
    height: 3%;
    top: 0%;
    position: absolute;
    right: 0%;
}

.l3b2 {
    width: 60%;
    height: 7%;
    top: 20%;
    position: absolute;
    right: 0%;
}

.l3b3 {
    width: 38%;
    height: 7%;
    top: 35%;
    position: absolute;
    right: 0%;
}

.l3b4 {
    width: 50%;
    height: 6.3%;
    top: 44%;
    position: absolute;
    right: 0%;
}

.l3b5 {
    width: 16%;
    height: 7%;
    top: 54%;
    position: absolute;
    right: 0%;
}

.l3b6 {
    width: 30%;
    height: 7%;
    top: 62%;
    position: absolute;
    right: 0%;
}

.l4b1 {
    width: 56%;
    height: 7%;
    top: 0%;
    position: absolute;
    right: 0%;
}

.l4b2 {
    width: 80%;
    height: 7%;
    top: 25%;
    position: absolute;
    right: 0%;
}

.l4b3 {
    width: 56%;
    height: 7%;
    top: 39%;
    position: absolute;
    right: 0%;
}

.l4b4 {
    width: 28%;
    height: 7%;
    top: 53%;
    position: absolute;
    right: 0%;
}

.l4b5 {
    width: 44%;
    height: 6%;
    top: 61%;
    position: absolute;
    right: 0%;
}

.b24 {
    width: 72%;
    height: 9%;
    top: 14%;
    position: absolute;
    right: 0%;
}

.b25 {
    width: 66%;
    height: 9%;
    top: 33%;
    position: absolute;
    right: 0%;
}

.b26 {
    width: 60%;
    height: 7%;
    top: 44%;
    position: absolute;
    right: 0%;
}

.b27 {
    width: 68%;
    height: 7%;
    top: 55%;
    position: absolute;
    right: 0%;
}

.b28 {
    width: 26%;
    height: 7%;
    top: 65%;
    position: absolute;
    right: 0%;
}

.hill {
    width: 80%;
    height: 38%;
    top: 62%;
    position: absolute;
    right: 0%;
}

.h1 {
    width: 3.3%;
    height: 100%;
    position: absolute;
    right: 0%;
}

.h2 {
    width: 2.3%;
    height: 97%;
    bottom: 0;
    position: absolute;
    right: 3%;
}

.h3 {
    width: 2.3%;
    height: 91%;
    bottom: 0;
    position: absolute;
    right: 5%;
}

.h4 {
    width: 3.3%;
    height: 87%;
    bottom: 0;
    position: absolute;
    right: 7%;
}

.h5 {
    width: 2.3%;
    height: 85%;
    bottom: 0;
    position: absolute;
    right: 10%;
}

.h6 {
    width: 2.3%;
    height: 81%;
    bottom: 0;
    position: absolute;
    right: 12%;
}

.h7 {
    width: 2.3%;
    height: 79%;
    bottom: 0;
    position: absolute;
    right: 14%;
}

.h8 {
    width: 4.3%;
    height: 76%;
    bottom: 0;
    position: absolute;
    right: 16%;
}

.h9 {
    width: 2.3%;
    height: 77%;
    bottom: 0;
    position: absolute;
    right: 20%;
}

.h10 {
    width: 2.3%;
    height: 78%;
    bottom: 0;
    position: absolute;
    right: 22%;
}

.h11 {
    width: 2.3%;
    height: 74%;
    bottom: 0;
    position: absolute;
    right: 24%;
}

.h12 {
    width: 2.3%;
    height: 70%;
    bottom: 0;
    position: absolute;
    right: 26%;
}

.h13 {
    width: 3.3%;
    height: 68%;
    bottom: 0;
    position: absolute;
    right: 28%;
}

.h14 {
    width: 3.3%;
    height: 66%;
    bottom: 0;
    position: absolute;
    right: 31%;
}

.h15 {
    width: 2.3%;
    height: 62%;
    bottom: 0;
    position: absolute;
    right: 34%;
}

.h16 {
    width: 5.3%;
    height: 60%;
    bottom: 0;
    position: absolute;
    right: 35%;
}

.h17 {
    width: 3.3%;
    height: 62%;
    bottom: 0;
    position: absolute;
    right: 40%;
}

.h18 {
    width: 2.3%;
    height: 60%;
    bottom: 0;
    position: absolute;
    right: 43%;
}

.h19 {
    width: 2.3%;
    height: 53%;
    bottom: 0;
    position: absolute;
    right: 45%;
}

.h20 {
    width: 2.3%;
    height: 50%;
    bottom: 0;
    position: absolute;
    right: 47%;
}

.h21 {
    width: 2.3%;
    height: 48%;
    bottom: 0;
    position: absolute;
    right: 49%;
}

.h22 {
    width: 3.3%;
    height: 45%;
    bottom: 0;
    position: absolute;
    right: 51%;
}

.h23 {
    width: 2.3%;
    height: 30%;
    bottom: 0;
    position: absolute;
    right: 54%;
}

.h24 {
    width: 2.3%;
    height: 28%;
    bottom: 0;
    position: absolute;
    right: 56%;
}

.h25 {
    width: 3.3%;
    height: 23%;
    bottom: 0;
    position: absolute;
    right: 58%;
}

.h26 {
    width: 4.3%;
    height: 21%;
    bottom: 0;
    position: absolute;
    right: 61%;
}

.h27 {
    width: 5.3%;
    height: 19%;
    bottom: 0;
    position: absolute;
    right: 65%;
}

.h28 {
    width: 7.3%;
    height: 14%;
    bottom: 0;
    position: absolute;
    right: 70%;
}

.h29 {
    width: 3.3%;
    height: 12%;
    bottom: 0;
    position: absolute;
    right: 77%;
}

.h30 {
    width: 10.3%;
    height: 8%;
    bottom: 0;
    position: absolute;
    right: 80%;
}

.h31 {
    width: 2.3%;
    height: 5%;
    bottom: 0;
    position: absolute;
    right: 90%;
}

.t1 {
    width: 6%;
    height: 5%;
    top: -1%;
    position: absolute;
    right: 3%;
}

.t2 {
    width: 7%;
    height: 7.5%;
    top: 6%;
    right: 7%;
    position: absolute;
}

.t3 {
    width: 6%;
    height: 6%;
    top: 16%;
    right: 14%;
    position: absolute;
}

.t4 {
    width: 8%;
    height: 6%;
    top: 21%;
    right: 24%;
    position: absolute;
}

.t5 {
    width: 8%;
    height: 7%;
    top: 31%;
    right: 33%;
    position: absolute;
}

.t6 {
    width: 8%;
    height: 7%;
    top: 39%;
    right: 45%;
    position: absolute;
}

.t7 {
    width: 8%;
    height: 7%;
    top: 2%;
    right: 4%;
    position: absolute;
}

.t8 {
    width: 10%;
    height: 9%;
    top: 10%;
    right: 9%;
    position: absolute;
}

.t9 {
    width: 7%;
    height: 6%;
    top: 19%;
    right: 15%;
    position: absolute;
}

.t10 {
    width: 7%;
    height: 6%;
    top: 25%;
    right: 26%;
    position: absolute;
}

.t11 {
    width: 8%;
    height: 8%;
    top: 27%;
    right: 30%;
    position: absolute;
}

.t12 {
    width: 8%;
    height: 8%;
    top: 40%;
    right: 44%;
    position: absolute;
}

.t13 {
    width: 8%;
    height: 8%;
    top: 44%;
    right: 47%;
    position: absolute;
}

.t14 {
    width: 8%;
    height: 6%;
    top: 50%;
    right: 50%;
    position: absolute;
}

.t15 {
    width: 8%;
    height: 6%;
    top: 67%;
    right: 56%;
    position: absolute;
}

.t16 {
    width: 5%;
    height: 6%;
    top: 70%;
    right: 58%;
    position: absolute;
}

.t17 {
    width: 7%;
    height: 6%;
    top: 74%;
    right: 61%;
    position: absolute;
}

.t18 {
    width: 7%;
    height: 6%;
    top: 79%;
    right: 70%;
    position: absolute;
}

.t19 {
    width: 7%;
    height: 6%;
    top: 82.5%;
    right: 77%;
    position: absolute;
}

.shrine {
    width: 7%;
    height: 10%;
    top: 58%;
    right: 54.2%;
    position: absolute;
}

.s1 {
    top: -12%;
    left: 0%;
}

.s2 {
    width: 100%;
    height: 15%;
    top: 15%;
    right: 0%;
    position: absolute;
}

.s3 {
    width: 100%;
    height: 15%;
    bottom: 15%;
    right: 0%;
    position: absolute;
}

.s4 {
    width: 15%;
    height: 86%;
    top: 7%;
    left: 25%;
    position: absolute;
}

.t1p1 {
    width: 100%;
    height: 35%;
    top: 30%;
    right: 0%;
    position: absolute;
}

.t1p2 {
    width: 50%;
    height: 70%;
    top: 30%;
    left: 10%;
    position: absolute;
}

.t1p3 {
    width: 44%;
    height: 40%;
    top: 0%;
    left: 20%;
    position: absolute;
}

.t1p4 {
    width: 60%;
    height: 76%;
    top: 9%;
    left: 9%;
    position: absolute;
}

.t1p5 {
    width: 100%;
    height: 25%;
    top: 50%;
    right: 0%;
    position: absolute;
}

.t1p6 {
    width: 25%;
    height: 30%;
    top: 65%;
    left: 20%;
    position: absolute;
}

.t1p7 {
    width: 44%;
    height: 40%;
    top: 0%;
    left: 20%;
    position: absolute;
}

.t1p8 {
    width: 60%;
    height: 76%;
    top: 9%;
    left: 9%;
    position: absolute;
}

.t1p9 {
    width: 100%;
    height: 25%;
    top: 40%;
    right: 0%;
    position: absolute;
}

.t1p10 {
    width: 25%;
    height: 30%;
    top: 65%;
    left: 20%;
    position: absolute;
}

.t1p11 {
    width: 44%;
    height: 40%;
    top: 0%;
    left: 20%;
    position: absolute;
}

.t1p12 {
    width: 60%;
    height: 76%;
    top: 9%;
    left: 9%;
    position: absolute;
}

.t1p13 {
    width: 100%;
    height: 25%;
    top: 58%;
    right: 0%;
    position: absolute;
}

.floor1 {
    width: 30%;
    height: 100%;
    background: #302c24;
    position: absolute;
    right: 0%;
}

#about h2 {
    padding: 15px 0 0 15px;
    margin: 0;
    font-size: 180%;
}

#about b {
    font-size: 120%;
}

#about div {
    padding: 5px 0 0 40px;
}

#about ul {
    margin: 0;
}

@media screen and (max-device-width: 1200px) {
    .column {
        width: 50%;
    }
}

@media screen and (max-device-width: 800px) {
    .column {
        width: 100%;
    }

    #titleImage {
        margin: 0px;
    }

    #title {
        margin: 0px;
        width: 100%;
    }

    .b1 {
        width: 87%;
    }

    .l2b2 {
        width: 80%;
    }
}

@keyframes cityAnimation {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

h1 {
    margin: 0%;
}

#sidePadding {
    padding: 15px 0 0 15px;
    margin: 0;
    font-size: 200%;
}

#subscribeButton {
    padding: 10px;
    font-size: 20px;
    margin: 25px auto;
    display: block;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    border: 0px;
    color: #2d3330;
    background: #e6fdf1;
}

#contactButton {
    padding: 10px;
    margin: 5px auto;
    display: block;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    border: 0px;
    background: #2d3330;
    color: #e6fdf1;
}

#inputForm {
    width: 100%;
    height: 30%;
    background: #e6fdf1;
}

.inputForm {
    color: #2d3330;
    text-align: center;
    vertical-align: middle;
}

#emailField {
    font-size: 30px;
    width: 70%;
    margin: 25px;
}

.form_error {
    color: red;
}

.outputForm {
    text-align: center;
    vertical-align: middle;
}

#outputForm {
    display: inline-block;
    background: #2d3330;
    color: #e6fdf1;
    text-align: center;
    width: 100%;
    height: 70%;
}

.growAnimation5 {
    width: 0%;
    animation-duration: 3s;
}

.growAnimation2 {
    width: 0%;
    animation-duration: 4s;
}

.growAnimation3 {
    width: 0%;
    animation-duration: 2s;
}

.growAnimation4 {
    width: 0%;
    animation-duration: 1s;
}

.growAnimation1 {
    width: 0%;
    animation-duration: 5s;
}

.animated {
    animation-name: cityAnimation;
    width: 100%;
}

.noSidePadding {
    padding: 25px 0 0 0;

}

#fireworks {
}

#subscribePointer {
    float: left;
    margin: 0 0 0 3%;
    position: absolute
}

.sampleContainer {
    margin-top: 250px;
}

#loader {
    position: relative;
    width: 44px;
    height: 8px;
    margin: 12px auto;
}

.dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background: #ccc;
    position: absolute;
}

.dot_1 {
    animation: animateDot1 1.5s linear infinite;
    left: 12px;
    background: #dc5c3b;
}

.dot_2 {
    animation: animateDot2 1.5s linear infinite;
    animation-delay: 0.5s;
    left: 24px;
}

.dot_3 {
    animation: animateDot3 1.5s linear infinite;
    left: 12px;
}

.dot_4 {
    animation: animateDot4 1.5s linear infinite;
    animation-delay: 0.5s;
    left: 24px;
}

@keyframes animateDot1 {
    0% {
        transform: rotate(0deg) translateX(-12px);
    }
    25% {
        transform: rotate(180deg) translateX(-12px);
    }
    75% {
        transform: rotate(180deg) translateX(-12px);
    }
    100% {
        transform: rotate(360deg) translateX(-12px);
    }
}

@keyframes animateDot2 {
    0% {
        transform: rotate(0deg) translateX(-12px);
    }
    25% {
        transform: rotate(-180deg) translateX(-12px);
    }
    75% {
        transform: rotate(-180deg) translateX(-12px);
    }
    100% {
        transform: rotate(-360deg) translateX(-12px);
    }
}

@keyframes animateDot3 {
    0% {
        transform: rotate(0deg) translateX(12px);
    }
    25% {
        transform: rotate(180deg) translateX(12px);
    }
    75% {
        transform: rotate(180deg) translateX(12px);
    }
    100% {
        transform: rotate(360deg) translateX(12px);
    }
}

@keyframes animateDot4 {
    0% {
        transform: rotate(0deg) translateX(12px);
    }
    25% {
        transform: rotate(-180deg) translateX(12px);
    }
    75% {
        transform: rotate(-180deg) translateX(12px);
    }
    100% {
        transform: rotate(-360deg) translateX(12px);
    }
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.soc {
    display: block;
    font-size: 0;
    list-style: none;
    margin: 0;
    text-align: center;
}

.soc li {
    display: inline-block;
    float: right;
}

.soc a, .soc svg {
    display: block;
}

.soc a {
    position: absolute;
    height: 80%;
    width: 15%;
    top: 10%;
}

.soc svg {
    height: 100%;
    width: 100%;
}

.soc em {
    font-size: 14px;
    line-height: 1.5;
    margin-top: -0.75em;
    position: absolute;
    text-align: center;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
}

.icon-1:hover, .icon-2:hover, .icon-3:hover, .icon-4:hover, .icon-5:hover, .icon-6:hover, .icon-7:hover, .icon-8:hover, .icon-9:hover, .icon-10:hover, .icon-11:hover, .icon-12:hover, .icon-13:hover, .icon-14:hover, .icon-15:hover, .icon-16:hover, .icon-17:hover, .icon-18:hover, .icon-19:hover, .icon-20:hover, .icon-21:hover, .icon-22:hover, .icon-23:hover, .icon-24:hover, .icon-25:hover, .icon-26:hover, .icon-27:hover, .icon-28:hover, .icon-29:hover, .icon-30:hover {
    border-radius: 100%;
    color: #0e1a25;
    fill: #0e1a25;
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
    -webkit-transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
    transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
    transition: background-color 0.5s, transform 0.5s ease-out;
    transition: background-color 0.5s, transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.icon-1 {
    color: #d94a26;
    fill: #d94a26;
    right: 78%;
}

.icon-1:hover {
    background: #d94a26;
}

.icon-2 {
    color: #d96e26;
    fill: #d96e26;
    right: 53%;
}

.icon-2:hover {
    background: #d96e26;
}

.icon-3 {
    color: #d99126;
    fill: #d99126;
    right: 28%;
}

.icon-3:hover {
    background: #d99126;
}

.icon-4 {
    color: #d9b526;
    fill: #d9b526;
    right: 3%;
}

.icon-4:hover {
    background: #d9b526;
}

.icon-5 {
    color: #d9d926;
    fill: #d9d926;
}

.icon-5:hover {
    background: #d9d926;
}

.icon-6 {
    color: #b5d926;
    fill: #b5d926;
}

.icon-6:hover {
    background: #b5d926;
}

.icon-7 {
    color: #91d926;
    fill: #91d926;
}

.icon-7:hover {
    background: #91d926;
}

.icon-8 {
    color: #6ed926;
    fill: #6ed926;
}

.icon-8:hover {
    background: #6ed926;
}

.icon-9 {
    color: #4ad926;
    fill: #4ad926;
}

.icon-9:hover {
    background: #4ad926;
}

.icon-10 {
    color: #26d926;
    fill: #26d926;
}

.icon-10:hover {
    background: #26d926;
}

.icon-11 {
    color: #26d94a;
    fill: #26d94a;
}

.icon-11:hover {
    background: #26d94a;
}

.icon-12 {
    color: #26d96e;
    fill: #26d96e;
}

.icon-12:hover {
    background: #26d96e;
}

.icon-13 {
    color: #26d991;
    fill: #26d991;
}

.icon-13:hover {
    background: #26d991;
}

.icon-14 {
    color: #26d9b5;
    fill: #26d9b5;
}

.icon-14:hover {
    background: #26d9b5;
}

.icon-15 {
    color: #26d9d9;
    fill: #26d9d9;
}

.icon-15:hover {
    background: #26d9d9;
}

.icon-16 {
    color: #26b5d9;
    fill: #26b5d9;
}

.icon-16:hover {
    background: #26b5d9;
}

.icon-17 {
    color: #2691d9;
    fill: #2691d9;
}

.icon-17:hover {
    background: #2691d9;
}

.icon-18 {
    color: #266ed9;
    fill: #266ed9;
}

.icon-18:hover {
    background: #266ed9;
}

.icon-19 {
    color: #264ad9;
    fill: #264ad9;
}

.icon-19:hover {
    background: #264ad9;
}

.icon-20 {
    color: #2626d9;
    fill: #2626d9;
}

.icon-20:hover {
    background: #2626d9;
}

.icon-21 {
    color: #4a26d9;
    fill: #4a26d9;
}

.icon-21:hover {
    background: #4a26d9;
}

.icon-22 {
    color: #6e26d9;
    fill: #6e26d9;
}

.icon-22:hover {
    background: #6e26d9;
}

.icon-23 {
    color: #9126d9;
    fill: #9126d9;
}

.icon-23:hover {
    background: #9126d9;
}

.icon-24 {
    color: #b526d9;
    fill: #b526d9;
}

.icon-24:hover {
    background: #b526d9;
}

.icon-25 {
    color: #d926d9;
    fill: #d926d9;
}

.icon-25:hover {
    background: #d926d9;
}

.icon-26 {
    color: #d926b5;
    fill: #d926b5;
}

.icon-26:hover {
    background: #d926b5;
}

.icon-27 {
    color: #d92691;
    fill: #d92691;
}

.icon-27:hover {
    background: #d92691;
}

.icon-28 {
    color: #d9266e;
    fill: #d9266e;
}

.icon-28:hover {
    background: #d9266e;
}

.icon-29 {
    color: #d9264a;
    fill: #d9264a;
}

.icon-29:hover {
    background: #d9264a;
}

.icon-30 {
    color: #d92626;
    fill: #d92626;
}

.icon-30:hover {
    background: #d92626;
}

a:link {
    color: #2691d9;
}

a:visited {
    color: #2691d9;
}

